body{
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    background-color: lightgray;
}

.pokedexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokedex{
    min-height: 50vh;
    background-color: rgb(185, 30, 3);
    color: white;
    display: flex;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border-radius: 25%;
}

.picture{
    object-fit: contain;
    width: 120px;
}

.infoContainer{
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 100px;
    width: 200px;
}