body{
    margin: 0;
    font-family: 'Albert Sans', sans-serif;
    background-color: khaki;
}

::-webkit-scrollbar {
    width: 10px;
    
}

/* Track */
::-webkit-scrollbar-track {
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}


h1{
    text-transform: capitalize;
}

img:hover{
    cursor: pointer;
}

button{
    padding: 6px;
    margin: 3px;
    min-width: 70px;
    text-align: center;
    border-radius: 25px;
    text-transform: capitalize;
    border: solid;
}

.header{
    background-color: white;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 80px;
}

.headerContent{
    display: flex;
    align-items: center;
}
.pokedexContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokedex{
    height: 300pxvh;
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    border-radius: 25px;
    color: black;
}

.picture{
    object-fit: contain;
    width: 120px;
    margin-bottom: 6px;
}

.infoContainer{
    background-color: white;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    min-height: 100px;
    width: 200px;
}

.type{
    padding: 6px;
    margin: 3px;
    min-width: 50px;
    text-align: center;
    border-radius: 25px;
    text-transform: capitalize;
}

.overlay{
    height: 100vh;
    background-color: hsl(54, 77%, 75%, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 99;
}

.overlayCentre{
    height: 600px;
    border-radius: 25px;
    width: 330px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.pictureOverlay{
    object-fit: contain;
    width: 200px;
}

.infoOverlay{
    background-color: white;
    height: 235px;
    width: 300px;
    border-radius: 25px;
    border-color: black;
    border: solid;
    padding: 13px;
    margin: 9px;
}

.infoOverlayContainer{
    height: 195px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.infoOverlayButton{
    margin-top: 17px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.moves{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    height:190px;
    padding-left: 5px;
    padding-bottom: 6px;
}

.move{
   border: solid;
   border-color: black;
   border-radius: 25px; 
   width: 150px;
   text-align: center;
   margin: 5px;
}

.d-none{
    display: none;
}

.icon{
    width: 24px;
    align-self: end;
}

.w300{
    width: 300px !important;
}

.grass{
    background-color: hsl(120, 100%, 25%);
}

.grassBG{
    background-color: hsla(120, 69%, 75%, 0.6);
}

.poison{
    background-color: purple;
}

.poisonBG{
    background-color: rgb(209, 107, 209);
}

.fire{
    background-color: red;
}

.fireBG{
    background-color: rgb(228, 79, 79);
}

.flying{
    background-color: lightblue;
}

.flyingBG{
    background-color: rgb(183, 232, 248);
}

.water{
    background-color: blue;
}

.waterBG{
    background-color: rgb(112, 112, 241);
}

.bug{
    background-color: darkgreen;
}

.bugBG{
    background-color: rgb(61, 141, 61);
}

.normal{
    background-color: darkgrey;
}

.normalBG{
    background-color: rgb(216, 212, 212);
}

.electric{
    background-color: yellow;
}

.electricBG{
    background-color: rgb(248, 248, 131);
}

.ground{
    background-color: brown;
}

.groundBG{
    background-color: rgb(177, 83, 83);
}
.fairy{
    background-color: darksalmon;
}

.fairyBG{
    background-color: rgb(235, 180, 162);
}

.fighting{
    background-color: maroon;
}

.fightingBG{
    background-color: rgb(161, 64, 64);
}

.rock{
    background-color: saddlebrown;
}

.rockBG{
    background-color: rgb(165, 107, 65);
}

.steel{
    background-color: slategray;
}

.steelBG{
    background-color: rgb(146, 159, 172);
}

.psychic{
    background-color: palevioletred;
}

.psychicBG{
    background-color: rgb(231, 160, 184);
}

.ice{
    background-color: cyan;
}

.iceBG{
    background-color: rgb(161, 233, 233);
}

.ghost{
    background-color: mediumorchid;
}

.ghostBG{
    background-color: rgb(212, 148, 228);
}

.dragon{
    background-color: olive;
}

.dragonBG{
    background-color: rgb(165, 165, 46);
}

@media(max-width: 580px) {
    .headerName {
        display: none;
    }
}